{
  "arrowParams": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
